<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/homepage/serve.js"></script>

    <link rel="stylesheet" href="/static/homepage/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <title>Homepage</title>
</head>
<body onload="main()">

    <div id="recipe-menu">
        <h3> Recipes </h3>
        <input type="text" id="recipe-search-box" placeholder="Search...">
    </div>

    <div id="pantry"><h3> Pantry </h3></div>

    <div id="shopping-list">
        <h3> Shopping List </h3>
        <button id="create-shopping-list">Create shopping list </button>
    </div>




</body>
</html>